* {
    margin: 0;
    padding: 0;
    }
    body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: #eee;
    }
    #container {
    margin: 10px 0px;
    width: auto;
    }
    #write {
    margin: 0 0 5px;
    float: left;
    color: black;
    padding: 5px;
    width: 570px;
    height: 150px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: 1px solid #f9f9f9;
    overflow: scroll;
    }
    .mi {
        color: white;
        background: #1e2440;
        border-radius: 50%;
        cursor: pointer;
        margin-top: 1rem;
        float: right;
        width: 2rem;
        height: 2rem;
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
    

    #keyboard {
    float: right;
    margin: 0px 0px 0px 20px;
    padding: 0;
    color: black;
    list-style: none;
    }
        #keyboard li {
        float: left;
        margin: 0 5px 5px 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #fff;
        border: 1px solid #f9f9f9;
        }
            .capslock, .tab, .left-shift {
            clear: left;
            }
                #keyboard .tab, #keyboard .delete {
                width: 70px;
                }
                #keyboard .capslock {
                width: 80px;
                }
                #keyboard .enter {
                width: 75px;
                }
                #keyboard .left-shift {
                width: 93px;
                }
                #keyboard .right-shift {
                width: 108px;
                }
            .lastitem {
            margin-right: 0;
            }
            .uppercase {
            text-transform: uppercase;
            }
            #keyboard .space {
            clear: left;
            width: 656px;
            }
            .on {
            display: none;
            }
            #keyboard li:hover {
            position: relative;
            top: 1px;
            left: 1px;
            border-color: #e5e5e5;
            cursor: pointer;
            }